/*CSS1 thème espace*/
body {
margin:0;
padding:0;
background-color:black;
background-image: url("images/spacemax.jpg");
background-repeat: no-repeat;
color:yellow;
width:100%;
  /*margin-left:50px;
  margin-right:50px;*/
font-family:Verdana;
font-size:18px;
text-align:justify;
}

section {
min-height: 150vh;
width:100%;
margin-top:50px;
margin-bottom:50px;
padding-top:20px;
padding-bottom: 20px;
}

#section1 {
background-image: url("images/earthmax.jpg");
width:100%;
}

#section3 {
background-image: url("images/Voyagermax.jpg");
width:100%;
}

.nom {
padding-top:50px;
}

article {
margin-top:20px;
margin-bottom:20px;
padding-top:20px;
padding-bottom: 20px;
padding-right:20px;
text-align:center;
background-color:rgba(70,130,180,0.5)
}

h1, h3 {
text-align:center;
}

.centrer {
width:80%;
text-align:justify;
}

nav {
height:100px;
margin-top:0;
margin-bottom:100px;
padding-bottom:30px;
}

nav ul {
list-style:none;
float:right;
}

nav li {
display:inline;
padding-right:50px;
}

.text {
text-align:center;
}

header a {
text-align:right;
color:yellow;
background-color:grey;
}

section a {
text-align:right;
color:yellow;
background-color:grey;
}

article p {
margin-left:50px;
}

header {
min-height:200vh;
padding-bottom:100px;
}

footer {
padding-bottom: 30px;
height:10vh;
text-align:center;
}

.reseaux-sociaux a {
padding-right:40px;
}
